.dsmovie-form-container {
  padding: 20px;
  max-width: 480px;
  margin: 40px auto;
}

.dsmovie-form {
  width: calc(100% - 20px);
}

.dsmovie-form-group {
  margin-bottom: 20px;
}

.dsmovie-form-group label {
  color: #aaa;
  font-size: 12px;
}

.dsmovie-form-btn-container {
  display: flex;
  justify-content: center;
}

.dsmovie-movie-card-image {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.dsmovie-card-bottom-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  padding: 10px 10px 20px 10px;
}

.dsmovie-card-bottom-container h3 {
  font-size: 14px;
  color: #4A4A4A;
  font-weight: 700;
  min-height: 40px;
  text-align: center;
  margin-bottom: 10px;
}

.dsmovie-btn {
  width: 180px;
  height: 40px;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
}